.more-text--container {
  margin-top: 10px;
  position: relative;
  .first-line--text {
    color: #000;
    font-size: 28px;
    overflow: hidden;
    white-space: pre-wrap;
    background-color: #fff;
    max-height: 44px;
    line-height: 44px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .description {
    color: #000;
    font-size: 28px;
    overflow: hidden;
    text-indent: -4em;
    padding-right: 4em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    position: relative;
    word-break: break-all;
    line-height: 44px;
    .more-btn {
      position: absolute;
      color: #5c709d;
      font-size: 28px;
      display: inline-block;
      right: -28px;
      bottom: 0;
    }
  }
}